body { padding: 75px 80px; background: #454545; background:url("/img/black-Linen2.png"); color: #b2b2b2; font-family: "LondonMM";}

a {text-decoration:none; color: #b2b2b2; }

#wrapper { float:left; display:inline; width: 1340px; }

#header { float:left; display:inline; width:100%; margin-bottom:50px;  }
#header ul { font-size: 24px; list-style:none; }
#header a { text-decoration:none; color: #b8b8b8; }
#header h1 { float:left; display:inline; font-size: 48px; }
#header ul { float:right; display:inline; margin-top:15px; }

textarea { float:left; display:inline; padding:10px; border:1px solid #ccc; height:400px; width: 530px; color: #444; background:#f7f7f7; border-radius:8px; }

.CodeMirror { font-size: 10pt; height:630px; color: #b2b2b2; background:#303030; border-radius:8px; border-bottom-right-radius:0; border-top-right-radius:0;  padding:10px; border:none;}
.CodeMirror-gutter {border-top-left-radius:8px; border-bottom-left-radius:8px; margin-right:15px; }

#editor {float:left; display:inline; width:670px; }
#editor form { float:left; display:inline; width:100%; }
#eval { float:right; display:inline; padding: 5px 12px; margin:8px 0; color:#b2b2b2; background:#6d6d6d; border-radius:8px; border: 1px solid #515151;}
#eval:hover {background: #dfdfdf;}
#errors { float:left; display:none; font-family:monospace; font-size:13px; border:1px solid #E8A984; width:570px; padding:10px 15px; padding-top:25px; margin-top:-15px; position:relative; z-index:-1; background:#FFC5A3; border-bottom-left-radius:12px; border-bottom-right-radius:12px; }

.error-source { background:#FFE7D9 !important; border-radius:3px !important; }
.error-stack { background: #FFF1DB !important; border-radius:3px !important; }

input.submit { display: none; }

#info { margin-top:20px; }
#info pre { background: #cdcdcd; padding:10px; width: 580px; border-radius:5px; overflow:auto; }

#canvas { float:left; display:inline; width:600px; border-top-right-radius:5px; border-bottom-right-radius:8px; }
